.artists {
  height: 1820px;
  background-color: rgba(41, 37, 37, 0.897);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: cyan;

    .logo {
      height: 35px;;
    }
  }

  .search {
    position: absolute;
    top: 5%;
    left: 29%;
    height: 74px;
    width: 41vw;
    margin-bottom: 60px;

    .btn-search {
      border-style: none;
      width: 95%;
      height: 40px;
      border-radius: 100px;
      margin: 17px 10px 10px 15px;
      padding: 20px;
      font-size: 14px;
    }

    .btn-search:focus {
      outline: none !important;
    }
  }

  .artists-body {
    position: absolute;
    top: 12%;
    left: 15%;
    height: 1035px;
    width: 85%;
    margin-left: 1.7%;

    @media screen and (min-width: 610px)
    {
      left: 5% !important;
      width: 90% !important;
    }

    @media screen and (min-width: 820px)
    {
      width: 195px;
    }

    @media screen and (min-width: 1240) 
    {
      width: 90% !important;
    }

    .artist {
      position: relative;
      background-position: center;
      background-size: cover;
      height: 200px;
      width: 215px;
      margin: 30px;
      display: inline-block;
      cursor: pointer;

      @media screen and (min-width: 610px)
      {
        width: 195px !important;
        margin: 25px !important;
        justify-content: center;
      }

      @media screen and (min-width: 820px)
      {
        width: 195px;
      }
    }

    .mini-details {
      position: absolute;
      top: 200px;
      height: 40px;
      width: 215px;
      background-color: gold;
      color: black;
      text-align: center;
      padding-top: 5px;

      @media screen and (min-width: 610px)
      {
        width: 195px;
      }

      @media screen and (min-width: 820px)
      {
        width: 195px;
      }
    }
  }
}
