<div class="artists">
  <div class="logo-box" routerLink="/home">
    <img src="../../assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="search">
    <input type="text" class="btn-search" placeholder="Search for albums, artists or songs">
  </div>
  <div class="artists-body">
    <div *ngFor="let artist of artists" routerLink="/artists/{{artist.id}}" [ngStyle]="{'background-image':'url(' + artist.imageUrl + ')'}" class="artist">
      <span  class="mini-details">
        {{ artist.name }},
        {{ artist.country }}
      </span>
    </div>
  </div>
</div>
