.playlist {
  height: 1820px;
  background-color: rgba(41, 37, 37, 0.897);
  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: cyan;

    .logo {
      height: 35px;;
    }
  }

    .artist__show-image {
      position: absolute;
      top: 7%;
      height: 255px;
      width: 30%;
      display: block;

      .image__contained {
        height: 100%;
        width: 80%;
        margin-left: 20%;
        position: absolute;
        top: 0%;
        background-size: cover;
        background-position: center;

    }
  }

  .artist__details {
    position: absolute;
    top: 7%;
    left: 30%;
    height: 255px;
    width: 70%;
    display: block;
  }

  .song__titles {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 22%;

    .hash__tag {
      position: absolute;
      top: 0%;
      height: 100%;
      margin-left: 6%;
      width: 4%;
      display: inline-block;
      text-align: center;
      padding-top: 15px;
      color: grey;
      font-weight: bold;

    }

    .song__title {
      position: absolute;
      top: 0%;
      margin-left: 10%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }

    .singers {
      position: absolute;
      top: 0%;
      margin-left: 40%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }

    .time {
      position: absolute;
      top: 0%;
      margin-left: 70%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }
  }

  .list__songs {
    position: relative;
    height: 60px;
    width: 100%;
    top: 25.3%;
    cursor: pointer;

    .song__numbered {
      position: absolute;
      top: 0%;
      height: 100%;
      margin-left: 6%;
      width: 4%;
      display: inline-block;
      text-align: center;
      padding-top: 15px;
      color: grey;
      font-weight: bold;

    }

    .song__name {
      position: absolute;
      top: 0%;
      margin-left: 10%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }

    .artists__featured {
      position: absolute;
      top: 0%;
      margin-left: 40%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }

    .song__duration {
      position: absolute;
      top: 0%;
      margin-left: 70%;
      height: 100%;
      width: 30%;
      display: inline-block;
      text-align: left;
      padding-top: 15px;
      color: grey;
      font-weight: bold;
      
    }
  }
}
